<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title th:text="${page-title}")></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1 class="page-header">Update data</h1>

	<form action="#" th:action="@{/student/update/submit}" th:object="${student}" method="post">
		<div>
			<label for="npm">NPM</label><input type = "text" readonly="true" th:field="*{npm}" />
		</div>
		<div>
			<label for="name">Name</label><input type="text" th:field="*{name}"/>
		</div>
		<div>
			<label for="gpa">GPA</label><input type="text" th:field="*{gpa}"/>
		</div>

		<div>
			<button type="submit" name="action" value="save">Save</button>
		</div>
	</form>

</body>

</html>

